<tr class="{CSS_ROW}">
	<td class="std small">
		{VAL_EXT_ID}
	</td>
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_BOOK}
	</td>
	<td class="std small">
		{VAL_PUBLISHING_YEAR}
	</td>
	<td class="std small">
		{VAL_CREATE_DATE}
	</td>
	<td class="std small">
		{VAL_LAST_UPDATE}
	</td>
	<td class="std small">
		{VAL_STATUS}
	</td>
	<td class="std small">
		{VAL_REQUESTER_EMAIL}
	</td>
	<!-- BEGIN lib -->
	<td class="std small">
		{VAL_LIBRARY}
	</td>
	<td class="std small">
		{VAL_LIBRARIAN}
	</td>
	<td class="std small">
		{VAL_NUMBER_OF_USAGES}
	</td>
	<!-- END lib -->
	<td class="std small">
		{VAL_ACTION}
	</td>
</tr>